<form style= "width: 610px; margin: 0 auto; padding-top:30px;">
  <h1>Depósito em Conta</h1>
  <label for="dataHora" >Data</label>
  <input type="datetime"  name="dataHora" [(ngModel)]="deposito.dataHora"  disabled><br>
  
  <label for="hash" >Hash</label>
  <input type="text"  name="hash" [(ngModel)]="deposito.hash" value="deposito.hash"><br>

  <label for="valor" >Valor</label>
  
  <input style="text-align:left !important" currencyMask name="valor" 
   [(ngModel)]="deposito.valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/><br>

  
  <p [hidden] = "!error" style="color: red;">
    {{ errorDesc }}
  </p> 
  <br>
  <button class="btn waves-effect waves-light" (click)="realizarDeposito()">Enviar        
  </button> 
  <br>

  
  
</form>  